<div class="container">
    <div class="header">
        <h3 class="text-muted">Elasticsearch.js + Angular.js</h3>
    </div>

    <a href="/"><< Back</a>
    <div class="jumbotron">
        <h2 class="lead">{{country.name}}</h2>
            <table>
                <tr>
                   <td>Capital</td>
                   <td>Noe</td>
                </tr>
            </table>
    </div>

</div>



<!--<section class="country">-->
    <!--<header>-->
        <!--<h3>Name: {{country.name}}</h3>-->
        <!--<h4>Capital: {{country.capital}}</h4>-->
    <!--</header>-->

    <!--<div class="info">-->
        <!--<table>-->
            <!--<tr ng-repeat="(key, value) in country">-->

                <!--<td> {{key}} </td>-->
                <!--<td>-->
                 <!--<span ng-if="value.length > 1" class="item" ng-repeat="val in value track by $index">{{val}}</span>-->
                 <!--<span ng-if="value.length == 1">{{value}}</span>-->
                <!--</td>-->
            <!--</tr>-->

            <!--</tbody>-->
        <!--</table>-->

    <!--</div>-->
<!--</section>-->