<div class="container">
    <div class="header">
        <h3 class="text-muted">Elasticsearch.js + Angular.js</h3>
    </div>

    <div class="jumbotron">
        <h2 class="lead">{{country.name}}</h2>
        <p>The native name of the country is '{{country.nativeName}}' and the capital is {{country.capital}}. {{country.name}} borders to:<span ng-repeat="border in country.borders"> {{border}}</span>.</p>
        <p>Currency:<span ng-repeat="curr in country.currency"> {{curr}}</span></p>
        <p>Population: {{country.population}}</p>
        <a href="/">Back</a>
    </div>

</div>
