<div class="container">
    <div class="header">
        <h3 class="text-muted">Elasticsearch.js + Angular.js</h3>
    </div>

    <div class="jumbotron">
        <p class="lead">Start typing to search for countries</p>

        <input type="text" ng-change="search()" ng-model="global.search" class="form-control" placeholder="Search">
        <ul class="list">
            <li ng-repeat="country in countries">
                <a class="country-{{$index}}" ng-href="#/country/{{country._id}}">
                    <h4>{{country._source.name}}</h4>
                </a>
            </li>
        </ul>
    </div>

</div>